@page "/Application/History"
@using Core.IdApplication.Application
@using Core.AccountDetails.Application
@using Core.AccountDetails.Models
@using System.Security.Claims
@inject AuthenticationStateProvider _provider
@inject IIdApplicationServices _services
@inject IAccountDetailsServices _user
@inject NavigationManager _nav
@attribute [Authorize]

@if (UserModel != null)
{
        <div class="p-2 m-2">
            <div>
                <h4>Applications History</h4>
                <hr />
            </div>
            <div class="shadow overflow-auto">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Names</th>
                            <th>Id Number</th>
                            <th>Application Type</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Models != null && Models.Count > 0)
                        {
                            foreach (var item in Models)
                            {
                                <tr>
                                    <td>@item.FirstNames @item.Surname</td>
                                    <td>@item.IdNumber</td>
                                    <td>@item.FormExt?.ApplicationType</td>
                                    <td>@item.FormExt?.ApplicationStatus</td>
                                    <td>
                                        @if (Navigating)
                                        {
                                            <button type="button" class="btn btn-sm btn-info text-white" disabled>View</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-sm btn-info text-white" @onclick="@(()=>Navigate($"/Application/View/{item.Id}"))">View</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {

                            <tr><td colspan="4" align="center"><strong>No data found</strong></td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

}


@code {
    public List<AccountDetailsModel> Models { get; set; }
    private AccountDetailsModel UserModel { get; set; }
    public string UserId { get; set; }
    public bool Loading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        var auth = await _provider.GetAuthenticationStateAsync();
        UserId = auth.User.FindFirstValue(ClaimTypes.NameIdentifier);
        Models = _services.GetBySubmitter(UserId);
        UserModel = _user.Get(UserId);
        Loading = false;
    }
    #region
    bool Navigating { get; set; }
    bool Filtering { get; set; }
    async Task Wait()
    {
        await Task.Delay(500);
        this.StateHasChanged();
    }
    #endregion
    async Task Navigate(string to)
    {
        Navigating = true;
        _nav.NavigateTo(to, true);
    }
}
